// ! @import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap");


// ===========================ПЕРВЫЙ БЛОК============================= //



// =================================================================== //

// ===========================ВТОРОЙ БЛОК============================= //



// =================================================================== //

// ===========================ТРЕТИЙ БЛОК============================= //



// =================================================================== //
