// ! @import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap");
// @import url(https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap);

// <ОБОЛОЧКА>
.wrapper {
	@include flexbox;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
[class*="__container"] {
	max-width: 1057px;
	margin: 0 auto;
	width: 100%;
	left: 0;
	top: 0;
}
// <ОБОЛОЧКА>

// ============================HEADER================================= //
.header {
	&__container {
		@include flexbox;
		align-items: center;
		min-height: 162px;
	}

	&__logo {
	}

	&__menu {
		@include flexbox;
		justify-content: right;
	}

	&__button {
		flex: 1 1 252px;
	}
}
.menu {
	&__list {
		flex: 1 1 auto;
	}

	&__item {
	}

	&__link {
	}
}
.button {
	font-size: 16px;
	line-height: 20px;
	text-decoration: uppercase;
	&__blue {
		background-color: rgb(72, 100, 255);
		color: white;
	}
}

// ============================HEADER================================= //

// ===========================ПЕРВЫЙ БЛОК============================= //

// =================================================================== //

// ===========================ВТОРОЙ БЛОК============================= //

// =================================================================== //

// ===========================ТРЕТИЙ БЛОК============================= //

// =================================================================== //
