// ! @import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap");

.container {
	max-width: 1280px;
}

// ===========================ПЕРВЫЙ БЛОК============================= //

// =================================================================== //

// ===========================ВТОРОЙ БЛОК============================= //

// =================================================================== //

// ===========================ТРЕТИЙ БЛОК============================= //

// =================================================================== //
