@import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700,800&display=swap);

// <МИКСИН> //
@mixin flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms;
	display: -webkit-flex;
	display: flex;
	font-size: 14px;
}
// <МИКСИН> //

// <ОСНОВНОЙ ШРИФТ>
$fontfamily: Rubik;
// <ОСНОВНОЙ ШРИФТ>

// <ПЕРЕМЕННЫЕ>
$minwidth: 320px;
$mw: 1057px;
$mbr1: $mw + 12;
$mbr2: 992;
$mbr3: 767;
$mbr4: 479;
// <ПЕРЕМЕННЫЕ>

// <ОБНУЛЕНИЕ>
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-width: $minwidth;
	position: relative;
	font-size: 100%;
}

body {
	font-size: 100%;
	line-height: 1;
	font-size: 14 px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	// &.lock {
	// 	overflow: hidden;
	// 	@media (max-width: $mbr3+px) {
	// 		width: 100%;
	// 		position: fixed;
	// 		overflow: hidden;
	// 	}
	// }
}

input,
button,
textarea {
	font-family: $fontfamily;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
// <ОБНУЛЕНИЕ>
